<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Prospera</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="style.css" />
</head>
<body>

  <!-- Top Nav -->
  <header>
      Prospera
      <img src="/logoicon.svg" alt="Logo Graphic" 
           style="height:30px; margin-left:3px;"/>
  </header>

  <div class="main-flex-layout">

    <!-- Side Nav -->
    <nav>
       <button onclick="window.location.href='/'">🏠<br>Dashboard</button>
       <button onclick="window.location.href='/budgeter.html'">💰<br>Budgets</button>
       <button>💳<br>Investing</button>
    </nav>

    <!-- Main Content -->
    <main>
  <h1 class="familjen-grotesk">Welcome back, Name</h1>


      <div class="content-and-side">
        <div class="main-content">
          <!-- Graph Box -->
          <div class="graph-box">
              <!-- SVG graph goes here -->
          </div>
        </div>
        <div class="side-box">
          <div class="savings-box">
            <span class="familjen-grotesk">Last month, you saved</span> <br>
            <span class="savings-amount">$67.41</span>
          </div>
          <div class="portfolio-list">
            <div class="portfolio-card">Portfolio 1</div>
            <div class="portfolio-card">Portfolio 2</div>
            <div class="portfolio-card">Portfolio 3</div>
            <div class="portfolio-card">Portfolio 4</div>
          </div>
        </div>
      </div>

  <div style="margin-top:30px; font-size:18px;" class="familjen-grotesk">Budget categories</div>
      <div style="height:600px;"></div>
    </main>
  </div>

</body>
</html>
